<%# <link rel="stylesheet" href="index.css"> %>
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">


<!-- ナビゲーションメニュー -->
    <nav class="navbar sticky-top navbar-expand-lg  navbar-light">
        <a class="navbar-brand text-dark" href="/"><span class="name bold">石塚 良和　PORTFOLIO</span></a>
        <button class="navbar-toggler" value="Input" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%# <button class="navbar-toggler btn btn-info border-info" value="Input" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> %>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav h6 ">
            <div class="right open flex hover">
            <%# <ul class="hover_blue"> %>

                <%# <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> %>

                <%# <a class="nav-link text-dark" href="#">Home <span class="sr-only">(current)</span></a> %>
                <a class="nav-link text-dark" href="#section1">History</a>
                <a class="nav-link text-dark" href="#section2">Product</a>
                <a class="nav-link text-dark" href="#section3">Favorites</a>
                <a class="nav-link text-dark" href="#section4">About me</a>
            </ul>
            </div>
            </div>
        </div>
    </nav>

<%# <div class="container d-flex">
</div> %>

<!-- スライダー -->
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <%# <ol class="carousel-indicators"> %>
          <%# <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> %>
        <%# </ol> %>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%# <div class="top-message">ハロー %>
              <div class="t-m">
              <%# <img src="/assets/image2.jpg" class="d-block w-100"width="800" height="800" alt="..." > %>
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/image2.jpeg" class="d-block w-100"width="800" height="800" alt="..." >
              <div class="top-message img-overlay">Welcome to <br>my portfolio site</div>
              
              </div>
              <%# <span class="top-message">ハロー
            </span> %>
          <%# <div class="carousel-item">
            <img src="/assets/sample2.jpg" class="d-block w-100" width="800" height="500" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/sample1.jpg" class="d-block w-100" width="800" height="500" alt="...">
          </div> %>
          </div>
        <%# <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> %>

        </div>
    </div>

<%# <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel"> %>

    <section class="text-center pt_70 fade show" id="section1">
      <div class="front_text">history<h2 class="back_text">history</h2></div>
      <div class="container one">
      <div class="one_a"></div>

        <div class="left_space">
          <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/image0.jpeg" class="profile_image" alt="石塚 良和（いしつか よしかず）">
          <div class="text_center">
            <ul class="sns">
              <li><i class="fab fa-twitter"></i><a href="https://twitter.com/it_begi_yos815" class="twitter under-none blue" target="_blank"><span class="blue">Twitter</span></a></li>
              <li><i class="fab fa-github"></i><a href="https://github.com/yoshikazu-ishitsuka" class="github under-none blue" target="_blank"><span class="blue">GitHub</span></a></li>
              <li><img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/qiita.png" class="qiita blue" width="20" height="20"><a href="https://qiita.com/yosyosyoyoyo" class="Qiita under-none" target="_blank"><span class="blue">Qiita</span></a></li>
              <li><i class="fas fa-envelope"></i><a href="mailto:on83.ishitsuka.yoshikazu@gmail.com" class="email under-none blue" target="_blank"><span class="blue">E-mail</span></a></li>
            </ul>
          </div>
        </div>

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <div class="info">
              <h3 class="top_info">パーソナル情報</h3>
              <%# <p class="indent"> %>
                <li><span class="n-p">石塚 良和（いしつか よしかず）</span><br>
                <li>1985年02月04日生まれ / 35歳
              </p>
            </div>
          </section>


          <section class="flex">
            <div class="icon">
              <%# <i class="fas fa-walking"></i> %>
              <i class="fas fa-user-check"></i>
              <%# <i class="fas fa-address-card"></i> %>
            </div>
            <div class="info">
              <h3 class="top_info position">経歴</h3>
              <ul>
                <li>・2006年3月： つくばビジネスカレッジ専門学校 情報処理科 卒業</li>
                <li>・2006年4月〜2006年10月 ： オークション運営会社</li>
                <li>・2008年2月〜2012年11月 ： 大手通信キャリア</li>
                <li>・2012年11月〜2013年5月 ： 携帯電話販売代理店</li>
                <li>・2014年3月〜2014年8月 ： 食品加工会社</li>
                <li>・2014年9月〜2016年9月 ： 大手農業機械メーカー</li>
                <li><span class="k-p">・2017年7月〜 ： プレス機械加工会社 就職</span></li>
                  <div class="indent">
                    <li>・前社は社長と専務の人柄に惹かれ入社を決意しました。<br>
                    前職の前は職業訓練校で機械加工の学習をしていたため学習した内容が活かせそうな会社を探していました。<br>
                    <li>・面接の際に社長と専務の方にお時間を頂いたのですが、話しているとどちらも非常に人当たりがよく、とても信頼出来る方達と確信することが出来た為、是非ともこちらの会社で働きたいと思いました。<br>
                  </div>
                
                <div class="indent"></div>
                <li><span class="bold">【主な業務】</span><br></li>
                <li>・自動連続プレス機械操作</li>
                <%# <li class="indent"> %>
                <li class="bold indent">【成果・ポイント】<br></li>
                  <li>・2019年11月頃にプレス機械稼働率を数値化した所1ヶ月「29％」だった所その後無駄な時間を削る事によって約3ヶ月後に稼働率「35％」を達成。<br>
                  <li>・毎週医療用マスクを30000個以上製造するノルマがあり、他の製品の納期等が重なり製造数が厳しくなった。<br>
                  <li>その際、その都度残業や昼休憩を先輩社員と頻繁にコミュニケーションを取りつつ交代しながら業務に対応しました。
                </li>
                <div class="indent"></div>
                <li>・2020年4月 ： プレス機械加工会社 退職</li>
                <div class></div>
                <li>・2020年8月 ： プログラミングスクールTECH CAMP<br>
                　　　　　  　 　  短期集中オンラインコースを受講開始　(8/3~10/9)
                </li>
                <div class="indent"></div>
                <li>
                  <span class="bold">【テックキャンプでの学習経験】<br></span>
                    ・HTML・CSS・Ruby・Ruby on Rails・JavaScript・SQL・Git・ GitHub 等の技術を用いたアプリケーション開発<br>
                <div class="indent"></div>
                    <span class="bold">【学習を終えての感想】<br></span>
                    <li>・自分はこのTECH CAMPの短期集中オンラインコースを受講して本当に良かったと思っています。<br></li>
                    <li>受講する前と受講開始した当初は受講料が高額な事や一日に何時間も学習をする生活を毎日行うのが本当に自分に続けられるのかと、とても不安に思っていました。
                    ですがカリキュラムの内容も非常に分かりやすく、進んで行くにつれて多くの知識を学んでいく事が出来て、さらには集大成である最終課題製作ではこれからエンジニアとして
                    のキャリアを歩んでいく上で大切な自走力やメンタル面、フィジカル面での強化を図る事が出来ました。<br><li>
                    <li>・このTECH CAMPを通して対応頂いたスタッフの人達や分からない所を教えてくれるメンターさん、そして毎日アウトプットを通じて励ましあったチームの皆のおかげで毎日とても充実した学習が出来ました。<br>
                    </li>
                  <div class="indent">
                    <%# <span class="red-bold"></span> %>
                  </div>
                </li>
                <div class="indent">
                <li>
                
                ・2020年10月　：<span class="red-bold">現在転職活動中です。よろしく御願い致します！</span></li>
              </ul>

            </div>
          </section>
      </section>

          </div>
      </div>


<%# <div class="reverse-indent"></div> %>
<%# <div id="section2"> %>
<section class="text-center indent" id="section2">
<div class="front_text pt-3">Product<h2 class="back_text pt-3">Product</h2></div>
    <div class="icon2">
      <%# <i class="fas fa-edit"></i> %>
    </div>
        <h2 class="top_info2 mt-2 center">TECH CAMPでの卒業制作物</h2>
        <h2 class="top_info2 mb-5 red-bold center italic"><span class="italic">This is my graduation work</span></h2>
    </div>
<div class="indent">
<div class="left_space2 flex indent">
<div class="card c-body">
<div class="embed-responsive">
  <%# <iframe class="embed-responsive-item gyazo" src="https://i.gyazo.com/b790c217f779bfaf703b91823ba22310.gif" allowfullscreen></iframe> %>
<img class="gyazo"src="https://i.gyazo.com/29b30e3fb5433c06808103f275b61dd8.gif" alt="Image from Gyazo"/>
</div>

  <%# <img src="https://i.gyazo.com/b790c217f779bfaf703b91823ba22310.gif" class="card-img-top2" alt="..."> %>

  <div class="card-body center">
    <h4 class="card-title indent red-bold font-4">卒業制作物（フリマアプリ）</h4>
    <p class="card-text  mb-4">TECH CAMPでは画像のようなフリマアプリを卒業制作物として製作しました。<br>
    <%# 開発状況<br> %>
      <%# 開発環境<br>
      Ruby/Ruby on Rails/MySQL/Github/AWS/Heroku/Visual Studio Code<br>
      開発期間と平均作業時間<br>
      開発期間：9/9~9/27 (19日間)
      1日あたりの平均作業時間：13時間
      合計：247時間程度
      Githubリポジトリ
      https://github.com/yoshikazu-ishitsuka/furima-29350 %>
<div class="pb-2"></div>
</p>
    <a href="http://54.249.209.65/" class="btn btn-primary">フリマアプリのURLに飛びます</a>
  </div>
  
</div>

<div class="right_space2">
          <%# <section class="flex"> %>
            <div class="icon2">
              <%# <i class="fas fa-tasks"></i> %>
              <%# <i class="fas fa-file-alt"></i> %>
              <i class="fas fa-edit"></i>
              <%# <i class="fas fa-copy"></i> %>
            </div>
            <div class="info">
              <h3 class="top_info">アプリケーション情報</h3>
              <%# <p class="indent"> %>
                <%# <span class="n-p"></span><br> %>
                <ul>
                  <li class="bold">【開発環境】<br></li>
                  <li>・Ruby/Ruby on Rails/MySQL/Github/AWS/Heroku/Visual Studio Code<br></li>
                  <li class="bold">【開発期間と平均作業時間】<br></li>
                  <li>・開発期間：9/9~9/27 (19日間)<br></li>
                  <li>・1日あたりの平均作業時間：13時間<br></li>
                  <li>・合計：247時間程度<br></li>
                  <li class="bold">【Githubリポジトリ】<br></li>
                  <li class="blue"><a href="https://github.com/yoshikazu-ishitsuka/furima-29350" class="under-none blue"><span class="blue">https://github.com/yoshikazu-ishitsuka/furima-29350</span></a><br></li>
              <%# </p> %>
                  <li class="bold">【動作確認方法】<br></li>
                  <li>・WebブラウザGoogle Chromeの最新版を利用してアクセスしてください。<br></li>
                  <li class="bold">【追加実装】</li>
                  <li>・エラーメッセージの日本語対応を実装しました。</li>
                  <li>・AWSのS3及びEC2を実装しました。</li>
                  <li class="red-bold">・Rspecを使用したテストコードを結合テストコードまで実装しました。</li>
                  <li class="bold">【Github Wiki】<br></li>
                  <li>・実際に記述したテストコードが見れます</li>
                  <li class="blue"><a href="https://github.com/yoshikazu-ishitsuka/furima-29350/wiki/%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E7%99%BB%E9%8C%B2%E3%81%AB%E9%96%A2%E3%81%99%E3%82%8B%E3%83%86%E3%82%B9%E3%83%88%E3%82%B3%E3%83%BC%E3%83%89" class="under-none blue"><span class="blue">https://github.com/yoshikazu-ishitsuka/furima-29350/wiki</span></a></li>
                </ul>
            </div>
          </section>
</div>
</div>
<div class="indent"></div>
</div>


<div class="mt-2 indent" id="section3">
<div class="front_text pt-5">favorites<h2 class="back_text pt-5">favorites</h2></div>
<!-- カード -->
  <%# <section class> %>
<%# <div class="center_space"></div> %>
    <div class="icon2">
      <i class="fas fa-child"></i>
      <%# <i class="fas fa-user-check"></i> %>
    </div>
    <%# <div class="indent"></div> %>
        <div class="center">
          <h2 class="top_info2 mt-2">趣味・嗜好</h2>
          <h2 class="top_info2 mb-5 red-bold italic"><span class="italic">these are my favorites</h2></span>
        </div class="indent"></div>
        <div class="card-deck indent">

            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/climbing.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">ボルダリング</h5>
                <p class="card-text">
                基本的に全身の筋肉を使うので体全体のトレーニングになる。さらに柔軟性も鍛えられる。<br>
                どうやれば登れるかを考えるため頭も使うので論理的な思考力も鍛えられる。<br>
                そしてなによりめちゃくちゃ楽しい。さらには難しい壁を登りきった時の達成感がとても気持ち良い。<br>
                ハマると指の皮がボロボロになるので登った後はケアが必要なので注意。</p>
                <p class="card-text"><small class="text-muted">Climbing</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/rizin.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">格闘技</h5>
                <p class="card-text">
                格闘技が好きなのは男としての本能かもしれない。<br>強く鍛えられた選手たちが本気で戦ってるのを見ると否が応でも興奮する。<br>
                正に最高にエキサイティングなエンターテイメントの一つだと思う。<br>
                自分は圧倒的に強くてKO率が高い選手が好きです。<br><br>
                個人的に特に好きな選手<br>【那須川天心・武尊・井上尚弥】<br>
                </p>
                <p class="card-text"><small class="text-muted">Fighting</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/dance.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">ブレイクダンス</h5>
                <p class="card-text">
                ブレイクダンス（またはブレイキン）は圧倒的な筋力や身体能力を駆使してダイナミックかつアクロバットな技を披露し観る者を魅了する圧巻のパフォーマンスが最大の持ち味。<br>
                ダンスにはジャズ・ロック・ヒップホップ・社交ダンス等様々な種類があるが自分は圧倒的にブレイキンが好きです。<br><br>
                個人的に特に好きなB-BOY（ダンサー）<br>【TAISUKE・ISSEI】
                </p>
                <p class="card-text"><small class="text-muted">Break Dance</small></p>
              </div>
            </div>

            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/movie2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">映画</h5>
                <p class="card-text">
                一番身近にあってお手軽に非日常感を体験したかったら映画が一番おすすめです。
                今は動画配信サービスもとても充実しているので簡単にお家で色々な映画を楽しめます。
                でも個人的なおすすめはやはり映画館です。あの巨大スクリーンと充実した音響設備とあの静寂した空間は映画に没入するのには最高な環境です。
                特におすすめはIMAX,4DXなどの特別な設備を搭載したスクリーンで映画を観ることです。極上のエンターテイメントがあなたを待っています。

                </p>
                <p class="card-text"><small class="text-muted">Movie</small></p>
              </div>
            </div>
        </div>
    </div>


<!-- カード --２ -->
<%# <div class="card">
<svg class="card-img-top" height="180"></svg> %>
</div class="indent2 indent"></div>
  <div class="pt-4" id="section4">
  <div class="front_text">about me<h2 class="back_text">about me</h2></div>
</div class="indent"></div>
    <div class="icon2 mt-4">
    <%# <i class="fas fa-chalkboard-teacher"></i> %>
      <i class="fas fa-child"></i>
    </div>
        <div class="center">
          <h2 class="top_info2 mt-3">私はこういう人です</h2>
          <h2 class="top_info2 pb-5 red-bold italic"><span class="italic">What kind of person</h2></span>
    </div>
        <div class="center">
        <div class="card-deck indent">

            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/image8.jpeg" class="card-img-top card-h" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">姫路城</h5>
                <p class="card-text">
                2017年5月に友人と初めて関西の方に行った時の写真です。<br>
                初めて見た姫路城の美しくも荘厳な造りは見るものに畏敬の念を抱かせました。<br>
                当時は観光客も多く場内に入るのに結構待ち時間がかかりました。
                ですが実際に戦いにも使われていたと見える造りもあり、美しい姿とは裏腹にかつては戦いに使われていた城なのだなと思いました。<br>
                天守閣から見える街並みは壮大で気持ちが良かったです。<br>
                <div class="mt-1"></div>
                姫路城（ひめじじょう）は、兵庫県姫路市にある日本の城。
                日本100名城などにも選定されている。
                別名を白鷺城（はくろじょう・しらさぎじょう）という。<br>
                『ウィキペディア（Wikipedia）』より<br>
                </p>
                <p class="card-text"><small class="text-muted">Himeji castle</small></p>
              </div>
            </div>

            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/image4.jpeg" class="card-img-top breakin" 　height="100" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">Breakin'</h5>
                <p class="card-text">
                大人になってからダンスが好きになり数年間HIPHOPやBreakin'を習っていました。
                仕事をした後に通うのはなかなか大変でしたがみんなと身体を動かしたりするのは
                楽しくてストレス発散にもなりました。<br>その後は仕事が忙しくなったり習っていた
                Breakin'コースが終わってしまったりしたのがきっかけで今は通っていないです。<br>
                <li>【写真は地元のダンス発表会に参加した時のものです】
                </p>
                <p class="card-text"><small class="text-muted">Breakin</small></p>
              </div>
            </div>

            <div class="card">
              <img src="https://portfolio-1024.s3-ap-northeast-1.amazonaws.com/images/image1.jpeg" class="card-img-top card-h" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold font-5">workaway</h5>
                <p class="card-text">
                Workawayという学生達の海外生活のお手伝いをしている団体の人達のイベントに参加した時の写真です。<br>
                自分は海外に留学や仕事等の経験はありませんが、逆に全くないからこそ経験者達の生の声に興味が湧いたので
                こちらのイベントに参加させて頂きました。<br>参加者の９割は大学生でしたので社会人の自分は少し気後れしましたが、結果的には視野が広がり色々な話しも聞けたのでとても良い経験が出来ました。<br>
                <li>【Workawayとは、1日4時間、週5日ボランティアとしてお手伝いする代わりに住む場所と3食を提供してもらえるサービスです。】</li>
                <%# （公式サイトはこちら<a href="https://workawayjapan.com/"></a>） %>
                    <a href="https://workawayjapan.com/" class="btn">（日本版公式サイトに飛びます）<span class="blue">https://workawayjapan.com/</span></a><br>
                    <a href="https://www.workaway.info/" class="btn">（海外版公式サイトに飛びます）<span class="blue">https://www.workaway.info/</span></a><br>

                </p>
                <p class="card-text"><small class="text-muted">workaway</small></p>
              </div>
            </div>
            
            <%# <div class="card">
              <img src="/assets/dance.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">ブレイクダンス</h5>
                <p class="card-text">
                ブレイクダンス（またはブレイキン）は圧倒的な筋力や身体能力を駆使してダイナミックかつアクロバットな技を披露し観る者を魅了する圧巻のパフォーマンスが最大の持ち味。<br>
                ダンスにはジャズ・ロック・ヒップホップ・社交ダンス等様々な種類があるが自分は圧倒的にブレイキンが好きです。<br><br>
                個人的に特に好きなB-BOY（ダンサー）<br>【TAISUKE・ISSEI】
                </p>
                <p class="card-text"><small class="text-muted">Break Dance</small></p>
              </div>
            </div> %>

            <%# <div class="card">
              <img src="/assets/movie2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">映画</h5>
                <p class="card-text">
                
                </p>
                <p class="card-text"><small class="text-muted">Movie</small></p>
              </div>
            </div> %>
        </div>
    </div>
<%# </div> %>


<%# <div class="card" style="width: 18rem;">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> %>


<%# <div class="container indent2">
  <div class="jumbotron m-3">
    <h1 class="display-4">Hello, Bootstrap!</h1>
    <hr class="my-4">
    <p>This is the template of Ruby on Rails using Bootstrap.</p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
      <i class="far fa-window-maximize"></i>
      Click here
    </button>
  </div> %>

  <!-- Modal -->
  <%# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Hello!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> %>

   <!-- 問合せフォーム -->
    <%# <div class="container py-4" id="contact">
        <h2>Contact</h2>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success float-">Submit</button>
            <a href="mailto:on83.ishitsuka.yoshikazu@gmail.com" class="btn btn-primary">Submit</a>
          </form>
    </div> %>


<%# !-- jumbotron -- %>
<div class="indent2"></div>
<div class="iken bold">・ご意見等がございましたら以下のフォームからメールをお送りください。</div>
<div class="container center2" id="jumbotron">
<%# <div class="flex"> %>
<div class="jumbotron center2 j-size">
  <%# <ul> %>
  <div class="center2">
  <h1 class="font-1">Contact email</h1>
  <h2><p class="lead">【お問い合わせフォーム】</p></h2>
  </div>
  <div class="indent"></div>
    <a class="btn btn-primary btn-lg mail" href="mailto:on83.ishitsuka.yoshikazu@gmail.com" role="button">Send email</a>
  <%# </ul> %>
</div>
</div>
  <%# <hr class="my-4"> %>
  <%# <p></p> %>
  <%# <div class="flex"> %>
</div>
</div>
</div>
   <!-- フッター -->
    <footer class="text-center bg-dark text-white">
        <p class="py-3">Copyright - 石塚 良和　2020 All Rights Reserved.</p>
    </footer>